@font-face {
    font-family: 'TTLakes';
    src: local("TTLakes-Regular"), url("./fonts/TTLakes/TTLakes-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: local("TTLakes-Medium"), url("./fonts/TTLakes/TTLakes-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: local("TTLakes-Bold"), url("./fonts/TTLakes/TTLakes-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'TTLakes';
    scrollbar-width: none;
}

.cps-logo,
.burger-first__head__button,
.buttons {
    cursor: pointer;
}

.burger-first {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.burger-first__container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    overflow: auto;
}

.burger-first__menu-head {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    max-width: 320px;
    align-items: center;
    margin-top: 23px;
}
.close-button-first {
    margin: 0 24px 0 24px;
}

.find-button-first {
    margin: 0 24px 0 auto;
}

.button-circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: #FF3E79;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 20px;
}

.menu-list__item > a,
.menu-list__item:link > a,
.menu-list__item:visited > a,
.menu-list__item:focus > a,
.menu-list__item:active > a {
    text-decoration: none;
    color: #1B1C21
}

.menu-list__item {
    text-decoration: none;
    cursor: pointer;
    margin-top: 32px;
    padding-left: 20px;
    font-size: 16px;
    color: #1B1C21;
    line-height: 24px;
}

.menu-list__item > a:hover {
    /*color: #7E7E82;*/
    color: #7E7E82;
    display: flex;
    align-items: center;
}

.menu-list__item > a:hover:before {
    position: relative;
    left: -40px;
    top: 4px;
    content: '';
    width: 4px;
    height: 32px;
    margin-right: -4px;
    margin-top: -8px;
    background-color: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: content-box;
}

.burger-first__menu-call {
    display: flex;
    margin: auto 24px 16px 24px;
    min-height: 70px;
    align-items: flex-end;
}

.burger-first__call-button,
.burger-first__chat-button,
.burger-first__cont-button{
    margin-right: 16px;
}

.burger-first__menu-footer {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 24px;
}

.burger-first__footer__phone-number {
    margin: 12px 100px 40px 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.burger-first__footer-language {
    display: flex;
    margin: 0 0 32px 0;
}

.burger-first__language-button {
    display: flex;
    width: 25px;
    height: 24px;
    border: none;
    background-color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #1B1C21;
}

.burger-first__language-button:hover {
    color: #7E7E82;
}
